.presentation {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pager {
    position: absolute;
    z-index: 1;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
}

.pager a {
    padding: 0 8px;
}

.pager .prev:before {
    content: "\2190";
    padding: 0 8px;
}

.pager .next:after {
    content: "\2192";
    padding: 0 8px;
}
